<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovingCircles"
        tools:targetApi="31">

        <activity
            android:name=".WelcomeScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MovingCircles.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivitySquare"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivityCircle"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivityCircles2"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivitySquare2"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivitySquare3"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivitySquare4"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivityCircle4"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivityCircle5"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivitySquare5"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivitySquare6"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivitySquare7"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivitySquare8"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivitySquare9"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivitySquare10"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />

        <activity
            android:name=".MainActivitySquare11"
            android:exported="false"
            android:theme="@style/Theme.MovingCircles" />
    </application>
</manifest>
